<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Circles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B4C73811DFA09D30055DB51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B4C73951DFA09D40055DB51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B4C73A01DFA09D40055DB51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
